@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
	background:url(login.jpg);
	background-size: cover;
}
.wrt{
	//border:2px solid yellow;
	width:320px;
	margin:5px ;
	padding:5px ;
	position:absolute;
	left:70%;
	top:1%;
	transform:translate(-50%,1%);
	color:white;
}

.login-box{
	width:520px;
	margin:5px ;
	padding:5px ;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	color:white;
}
.login-box h1{
	float:left;
	font-size:30px;
	border-bottom: 5px solid green;
	margin-top:5px;
	margin-bottom: 15px;
	padding: 3px 0;
}
.login{
	width:50px;
	overflow:hidden;
	font-size:20px;
	margin:8px 0;
	padding:8px 0;
	border-bottom: 2px solid green;

}
.radioo{
	font-size: 25px;
	text-color: green;
}
.login input{
	border:none;
	outline:none;
	background:none;
	color:white;
	font-size:18px;
	float:left;
	width:50px;
	margin: 0 10px;

}
.login fieldset{
	width:100%;
	margin:5px;


}
.login i{
	width:25px;
	float:left;
	text-align:center;

}
.btn{
	width: 30%;
	background: none;
	border: 2px solid green;
	border-radius: 25px;
	color: white;
	padding: 5px;
	font-size:18px;
	cursor: pointer;
	margin: 12px 0;
}
.checkbox{
	font-size: 18px;
}
.checkbox select{
	width:20%;
	font-size:15px;
	background:none;
	color:green;
	text-decoration:bold;

}
